/* inicio - Quick Login*/
	@import "quick-login";
/* fim - Quick Login*/

	@import "sections/_section.myaddress.scss";
	@import "sections/_section.preferenceCenter.scss";
	@import "sections/_section.superpoints.scss";
	@import "sections/_section.lp.scss";








/* inicio - Catalogo de produtos */
	.store {
		.rk-search {
			.list-products {
				.name {
					height: 34px;
					font-size: 13px;
					margin: 2px 5px 0 !important;
				}
				.figure {
					margin-bottom: 5px !important;
				}
				.details {
					height: 147px !important;
				}
			}
		}
		
	}
/* fim    - Catalogo de produtos */

/* inicio - Fix issues (Corigir no projeto) */
	.dk_fouc select {
		position: static !important;
		visibility: visible !important;
	}
/* fim    - Fix issues (Corigir no projeto) */	

