/* inicio - Registration/Login.aspx */
div.login {
	.chat {
		right: -2px;
		top: -4px;
	}
}
/* fim - Registration/Login.aspx */

/* inicio - Registration/MyAddressNew.aspx */
	div.my_address {
		.actions {
			.save {
				@extend .btn-success;
				@extend .btn-lg;
				font-weight: normal;
				margin: 0 15px 0 287px;
			}
			.cancel {
				@extend .btn-default;
				@extend .btn-lg;
			}
		}
		.use-address {
			@extend .btn-danger;
			@extend .btn-sm;
			display: block !important;
			width: 100% !important;
			text-indent: -9000px !important;
			&::before {
				content: "Entregar aqui";
				float: left;
				text-indent: 0;
				width: 100%;
			}
		}
	}
/* fim - Registration/MyAddressNew.aspx */