/*inicio - Buttons */ 
	@mixin btn {
		text-decoration: none;
		text-align: center;
		transition: background-color 150ms ease 0s;
		border-radius: 0 !important;
		padding: 6px 15px;
		display: block;
		color: #fff;
		width: auto !important;
		height: auto !important;
		text-indent: 0 !important;
		color: #fff !important;
		font-family: "rakuten_globalb";
		font-size: 17px;
	}
	@mixin btn-success {
		@include btn;
		border-bottom: 4px solid #509e3a;
		background: #60bb46 !important;
		&:hover {
			background-color: #509e3a !important;
		}
	}
/*fim - Buttons */