.my_address {
.form {
	overflow: hidden;

	label {
		display: block;
		position: relative;
	}
	.inner {
		padding: 20px 0;
	}
	.field {
		height: auto !important;
		margin-top: 10px;
		position: relative;
		overflow: visible;
		span {
			color: #333;
			font-weight: bold;
			margin-right: 11px;
			text-align: right;
			height: auto !important;
			line-height: initial;
			&.help { display: none;}
		}
		span, 
		input {
			clear: none;
			display: inline-block;
			float: none;
			margin-bottom: 0;
			vertical-align: top;
		}
		input, 
		textarea {
			color: #333;
			font: 12px Arial, Helvetica, Tahoma, sans-serif;
			overflow: auto;
			background: #fff;
			padding: 5px;
			border: 1px solid #cecece;
			border-radius: 0 !important;
			box-sizing: content-box;
		}
		.dk_toggle {
			border: 1px solid #CECECE;
			font-size: 12px;
			height: auto;
			padding: 6px 45px 6px 8px;
			text-align: left;
			border-radius: 0 !important;
		}
		.dk_container {
			text-align: left;
			li {
				line-height: 23px;
			}
		}
		.shell {
			width: auto;

			input {
				box-shadow: 2px 2px 1px #dddddd inset;
				line-height: 20px;
				height: 20px;
				box-sizing: content-box;

				&.big {
					width: 250px;
				}
				&.cpf {
					width: 119px;
				}
				&.date {
					width: 65px;
					height: 27px;
				}
			}
		}
		.validation {
			background: url(#{$base-urls}/images/ico_alert.png) no-repeat 0 5px;
			color: #C1272D;
			display: inline;
			float: none;
			font-weight: normal;
			font-size: 11px;
			height: 16px;
			line-height: 16px;
			padding: 5px 0 0 20px;
			position: absolute;
			text-align: left;
			text-indent: 0;
			margin-left: 5px;
			top: 0;
			width: 135px;
			border: 0;

			&.correct {
				background: url(#{$base-urls}/images/ico_sucess.png) no-repeat 0 5px;
				clear: none;
				margin-right: 0;
				width: auto
			}
		}
	}
	.atention {
		color: #FF8A00;
		display: block;
		padding: 0 0 15px 50px !important;
	}
	.loading {
		background: url(#{$base-urls}/images/loading.gif) no-repeat 0 0;
		position: relative;
		float: left;
		height: 26px;
		margin-left: 5px;
		text-align: left;
		text-indent: -9999px;
		top: auto;
		width: 26px
	}
}
}