/*inicio - Login Community */

	#container-community-login {
		margin: 0;
		right: 0;
		background: #fff;
		border-radius: 0;
		border-bottom: 5px solid #BF0000;
		height: 285px;
	}

	#container-community-login.active {
		display: block;
	}
	#rkCommunityLogin {
		legend {
			font-family: "rakuten_globalb";
			font-weight: normal !important;
			color: #bf0000;
			font-size: 18px !important;
		}
		
		.btnLoginCommunity,
		#btnRegisterCommunity {
			@include btn-success;
		}
		.btnLoginCommunity {
			margin: 0px 0 0 51px !important;
		}
		#btnRegisterCommunity {
			font-size: 0;
			margin: 0px 0 0 70px !important;
			&::after {
				content: "Cadastrar";
				display: block;
				font-size: 17px;
				color: #fff;
			}
		}
		.shell {
			input {
				background: none !important;
				border-radius: 0;
			}
		}
	}
/*fim - Login Community */