/* inicio - Endereco de Entrega - Registration/MyAddressNew.aspx */
	div.my_address {
		.actions {
			.save {
				@extend .btn-success;
				@extend .btn-lg;
				text-indent: -9000px !important;
				width: 185px !important;
				font-weight: normal;
				margin: 0 10px 0 293px;
				&::before {
					content: "Salvar Endere\00e7o";
					float: left;
					text-indent: 0;
				}
			}
			.cancel {
				@extend .btn-default;
				@extend .btn-lg;
			}
		}
		.use-address {
			@extend .btn-danger;
			@extend .btn-sm;
			display: block !important;
			width: 100% !important;
			text-indent: -9000px !important;
			&::before {
				content: "Entregar aqui";
				float: left;
				text-indent: 0;
				width: 100%;
			}
		}
	}
/* fim    - Endereco de Entrega - Registration/MyAddressNew.aspx */	