/* inicio - Landing Pages */
	.rk-lp {
		.main {
			width: 100%;
		}
		.nivo-controlNav {
			bottom: 15px;
			cursor: pointer;
			position: absolute;
			right: 10px;
			z-index: 1000;
			a {
				&.novo-control {
					background: #BEBEBE;
					border: 1px solid #FFFFFF;
					border-radius: 15px;
					display: inline-block;
					height: 10px;
					padding: 1px 4px !important;
					text-indent: -9999px;
					width: 5px;
					margin-left: 3px;
					color: #333333;
					text-decoration: none;
				}
				&.active {
					background: #000;
				}
			}
		}
		.rk-area-cxense.cxense  {
			padding: 10px;
			background: #fff;
			margin-bottom: 10px;
		}
	}
/* fim    - Landing Pages */