/* inicio - Paginacao tela Superponits - Orders/Superpoints/SP.aspx */
	div.store {
		.container-full .pagination.bottom {
			border: 0;
			background: #eee;
			padding: 5px;
		}
		.pagination.bottom li {
			width: auto !important;
			margin: 0;
			height: auto;
		}
		.pagination.bottom a {
			padding: 5px;
			color: #900;
			background: #fff !important;
			line-height: 21px !important;
			border: 1px solid #ccc;
			padding: 1px 8px;
		}
		.pagination.bottom a:hover {
			text-decoration: none !important;
			border: 1px solid;
		}
		.pagination.bottom .selected {
			background: #567c17 !important;
			color: #fff !important;
			border: 1px solid #567c17;
		}
		.pagination.bottom .selected:hover {
			border: 1px solid #567c17;
		}
	}
/* fim    - Paginacao tela Superponits - Orders/Superpoints/SP.aspx */
