/* inicio - Catalogo de produtos */
	.store {
		.rk-search {
			.list-products {
				.name {
					height: 34px;
					font-size: 13px;
					margin: 2px 5px 0 !important;
				}
				.figure {
					margin-bottom: 5px !important;
				}
				.details {
					height: 147px !important;
				}
			}
		}
		
	}
/* fim    - Catalogo de produtos */
