/* inicio - Endereco de Entrega - Registration/MyAddressNew.aspx */
	div.my_address {
		.actions {
			.save {
				@extend .btn-success;
				@extend .btn-lg;
				text-indent: -9000px !important;
				width: 160px !important;
				font-weight: normal;
				margin: 0 10px 0 293px;
				&::before {
					content: "Salvar Endere\00e7o";
					float: left;
					text-indent: 0;
				}
			}
			.cancel {
				@extend .btn-default;
				@extend .btn-lg;
			}
		}
		fieldset { border: 0;}
		.use-address {
			@extend .btn-danger;
			display: block !important;
			width: 100% !important;
			text-indent: -9000px !important;
			&::before {
				content: "Entregar aqui";
				float: left;
				text-indent: 0;
				width: 100%;
			}
		}
	}
	//modal Escolha de servico
	#pnlShippingServices {
		.rk-btn-general {
			@extend .btn-default;
			@extend .btn-lg;
			&:hover{border-bottom: 4px solid #acacac !important;}
			border-bottom: 4px solid #acacac !important
			
		}
		.rk-continue {
			@extend .btn-success;
			@extend .btn-lg;
			&:hover{border-bottom: 4px solid #4d9737 !important;}
			border-bottom: 4px solid #4d9737 !important;
		}
		.rk-warning {
			font-family: $font-family-base;
		}
		.rk-shipping-warning {
			color: #040404;
			display: inline-block;
			font-family: arial;
			font-size: 12px;
			line-height: 16px;
			width: 640px;
		}
	}
/* fim    - Endereco de Entrega - Registration/MyAddressNew.aspx */	