// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal !important;
  font-size: $font-size !important;
  line-height: $line-height;
  /*border-radius: $border-radius;*/
}

@mixin btn {
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: background-color 150ms ease 0s;
    font-family: "rakuten_globalb";
    font-weight: normal !important;
    display: inline-block;
    font-size: 14.4px !important;
    width: auto !important;
    height: auto !important;
    text-indent: 0 !important;
    color: #fff !important;
    border-radius: 0 !important;
    vertical-align: middle;
    padding: 6px 10px;
  }
  @mixin btn-class($bgcolor) {
    @include btn;
    border-bottom: 4px solid darken($bgcolor, 10%);
    background: $bgcolor !important;
    &:hover {
      background-color: darken($bgcolor, 10%) !important;
    }
  }
  @mixin btn-default {
    @include btn-class(#bcbcbc);
  }
  @mixin btn-primary {
    @include btn-class(#337ab7);
  }
  @mixin btn-success {
    @include btn-class(#60bb46);
  }
  @mixin btn-info {
    @include btn-class(#5bc0de);
  }
  @mixin btn-warning {
    @include btn-class(#f0ad4e);
  }
  @mixin btn-danger {
    @include btn-class(#d02130);
  }
  @mixin btn-xlg {
    @include button-size($padding-xlg-vertical, $padding-xlg-horizontal, $font-size-x-large, $line-height-xlg, $btn-border-radius-xlg);
  }
  @mixin btn-lg {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
  }
  @mixin btn-sm {
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  }
  @mixin btn-xs {
    @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  }
