// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
//  $shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
//  .box-shadow($shadow);

  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }
  @include hover {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    // Remove the gradient for the pressed/active state
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
    @include hover {
      background-color: $background;
          border-color: $border;
    }
  }
}

@mixin button-outline-variant($color) {
  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $color;

  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: #fff;
    background-color: $color;
        border-color: $color;
  }
  @include hover {
    color: #fff;
    background-color: $color;
        border-color: $color;
  }

  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    &:focus,
    &.focus {
      border-color: lighten($color, 20%);
    }
    @include hover {
      border-color: lighten($color, 20%);
    }
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  @include border-radius($border-radius);
}

@mixin btn {
    text-decoration: none;
    text-align: center;
    transition: background-color 150ms ease 0s;
    font-family: "rakuten_globalb";
    display: inline-block;
    color: #fff;
    width: auto !important;
    height: auto !important;
    text-indent: 0 !important;
    color: #fff !important;
    border-radius: 0 !important;
    white-space: nowrap;
    touch-action: manipulation;
    vertical-align: middle;
  }
  @mixin btn-class($bgcolor) {
    @include btn;
    border-bottom: 4px solid darken($bgcolor, 10%);
    background: $bgcolor !important;
    &:hover {
      background-color: darken($bgcolor, 10%) !important;
    }
  }
  @mixin btn-default {
    @include btn-class(#bcbcbc);
  }
  @mixin btn-primary {
    @include btn-class(#337ab7);
  }
  @mixin btn-success {
    @include btn-class(#60bb46);
  }
  @mixin btn-info {
    @include btn-class(#5bc0de);
  }
  @mixin btn-warning {
    @include btn-class(#f0ad4e);
  }
  @mixin btn-danger {
    @include btn-class(#d02130);
  }
  @mixin btn-sm {
     @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
  @mixin btn-lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
  }

  @mixin btn-xlg {
   @include button-size($btn-padding-y-xlg, $btn-padding-x-xlg, $font-size-xlg, $line-height-xlg, $btn-border-radius-xlg); 
  }

